@model IList<string>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h3>
        Hello, we have @Model.Count users registered.
    </h3>
    
    @foreach (var user in Model)
    {
        <h4>@user</h4>
    }

</div>